[Unit]
Description=SSH Tunnel for Port Forwarding
After=network.target

[Service]
User=pi
WorkingDirectory=/home/pi
ExecStart=/home/pi/Work/env/bin/python /home/pi/Work/app.py
Restart=always
RestartSec=900

[Install]
WantedBy=multi-user.target
