[Unit]
Description=SSH Tunnel for Port Forwarding
After=network-online.target

[Service]
User=pi
ExecStartPre=/bin/sleep 10
ExecStart=echo "Hello World"
Restart=always
RestartSec=900

[Install]
WantedBy=multi-user.target
